<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>MCMM</title>
    </head>
    <body>
        
        <div class="mainDiv" align="left">
            <h1 align="left">MCMM</h1>
        </div>
        

        <ul>
            {{#each value}}
            <li>{{property_address}}</li>
            {{/each}}
        </ul>

    </body>
</html>